/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* NO uses * aquí, rompe el SVG */
body {
  font-family: 'Dancing Script', cursive;
}

.font-cursive { font-family: 'Great Vibes', cursive; }
.font-poppins { font-family: 'Poppins', sans-serif; }
